@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 204, 219, 220;
  --background-end-rgb: 245, 245, 245;
}

.page-content {
  position: relative;
  left: 56px;
  width: calc(100% - 56px);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@media (min-width: 0px) {
  .not-found-page, .page-content {
    height: calc(100vh - 48px);
  }
}

@media (min-width: 600px) {
  .not-found-page, .page-content {
    height: calc(100vh - 64px);
  }
}
